*{
    margin: 0;
    padding: 0;
   
}

.textedit{
    margin-top: 100px !important;

}

.newtext{
    text-align: center;
    font-size: 50px;
    color: red;
}

.newButton{
  margin-left: 720px !important;
    

}

.inputstyle{
   
    margin-left: 610px;
    font-size: 50px;
   
}

.restyle{
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 30px;
}

.buttontext{
    margin-left: 750px;
    font-size: 20px;
    color: black;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}



